<div id="home-page">
  <div class="landing">
    <div parallax class="parallax">
      <div class="light"></div>
      <div data-depth="0.20"><img space-walk src="./assets/space.jpg" width=100%></div>
    </div>

    <div class="heading">
      <h1>&#123; HERMAN LEUS &#125;</h1>
      <h2>Web Dev</h2>
    </div>

    <div class="social"> 
      <div class="ui list">
        <div class="item"><i class="mail icon"></i> leus.herman@gmail.com</div>
        <div class="item"><a href="https://www.facebook.com/prog.herman.leus"><i class="facebook icon"></i> Facebook page</a></div>
        <div class="item"><a href="https://www.linkedin.com/in/herman-leus-a6353028/"><i class="linkedin square icon"></i> Linkedin Account</a></div>
      </div>
    </div>

    <canvas brain></canvas>
  </div>
  <div class="quote">
    <span>"The force is always with a smart one"</span>
  </div>
  <div class="ui container">
    <div class="projects">
      <div class="heading">
        <h1>Projects <i class="trophy icon"></i></h1>
        
        <p>Delivering high-quality digital product is always a top priority for me whether I build product from scratch, inject administartion tools or integrate with third party applications. Consulting customers on the best technology solutions that are most suited to their needs is a must. Always care for business to be happy and agile enought to efficiently react to any sudden changes. </p>
        <div class="ui two column grid">
          <div class="column">
            <div class="ui segment">
              <a href="https://www.blacklane.com/en" target="_blank">
                <img src="../../assets/projects/blacklane.jpg">
              </a>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <a href="http://www.tritto.com" target="_blank">
                <img src="../../assets/projects/tritto.jpg">
              </a>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <a href="https://www.booker.com/" target="_blank">
                <img src="../../assets/projects/booker.jpg">
              </a>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <a href="http://sandsiv.com/voice-of-the-customer/" target="_blank">
                <img src="../../assets/projects/sandsiv2.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>