<div id="home-page">
  <div class="landing">
    <div parallax class="parallax">
      <div class="light"></div>
      <div data-depth="0.20"><img space-walk src="./assets/space.jpg" width=100%></div>
    </div>

    <div class="heading">
      <h1>&#123; HERMAN LEUS &#125;</h1>
      <h2>Web Dev</h2>
    </div>
    
    <div class="social"> 
      <div class="ui list">
        <div class="item"><i class="mail icon"></i> leus.herman@gmail.com</div>
        <div class="item"><a href="https://www.facebook.com/prog.herman.leus"><i class="facebook icon"></i> Facebook page</a></div>
        <div class="item"><a href="https://www.linkedin.com/in/herman-leus-a6353028/"><i class="linkedin square icon"></i> Linkedin Account</a></div>
      </div>
    </div>

    <canvas brain></canvas>
  </div>
  <div class="ui container">
    <div class="services">
      <div class="ui list">
        <div class="item"><i class="world icon"></i> Consulting</div>
        <div class="item"><i class="rocket icon"></i> Product Development</div>
        <div class="item"><i class="line chart icon"></i> Business Analysis</div>
        <div class="item"><i class="umbrella icon"></i> Design</div>
        <div class="item"><i class="mobile icon"></i> Device support</div>
      </div>
    </div>
  </div>
</div>