/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

$background: #A1AAB1;
$font-color: white;

body {
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro';
}

#home-page {
  // background: $background;
  //background: url('./assets/space.jpg') 10% 0%;
  .landing {
    background-size: cover;
    max-height: 100%;
    overflow: hidden;
  }
  
  .heading {
    top: 40px;
    position: absolute;
    left: 10%;
    color: $font-color;

    h1 {
      font-size: 70px;;
      font-weight: 300;
    }

    h2 {
      margin-top: 10px;
      font-size: 40px;
      font-weight: 700;
      margin-left: 320px;
    }
  }

  .social {
    background: rgba(0, 0, 0, 0.7);
    padding: 60px 40px 20px 40px;
    top: 0px;
    position: absolute;
    right: 10%;
    color: $font-color;
    font-size: 20px;
    
    a {
      color: $font-color;
    }

    .list > .item {
      margin-bottom: 15px;
    }
  }

  .parallax {
    position: absolute;
    max-height:100%;
    top: 0;
    z-index: -1;
    overflow: hidden;
    
    .light {
      position: fixed;
      width: 100%;
      height: 100%;
    
      &.dark {
        background: rgba(0,0,0, 0.7);
        -webkit-transition: background 1s; /* Safari */
        transition: background 1s;
      }

      &.bright {
        background: none;
        -webkit-transition: background 1s; /* Safari */
        transition: background 1s;
      }
    }
  }


  .services {
    position: absolute;
    margin-top: -285px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 40px 20px 40px;
    color: $font-color;
    font-size: 20px;
    left: 10%;

    .list > .item {
      margin-bottom: 15px;
    }
  }
}